/* 
Theme Name: Responsive Splash
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Splash
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt
*/

/* ----------------- Mixins ----------------- */

$colour-orange: #EC5D47;
$colour-orange-trans: rgba(243,101,73,0.5);
$colour-blue: #3185E7;
$colour-green: #69cb95;
$colour-green-dark: #16A572;

$colour-pink: #b769a9;
$colour-pinkle: #916DC5;
$colour-purple: #6553a1;

$colour-bglight: rgba(75,73,81,0.05);
$footer-height: 80px;
$colour-body: white;

$colour-bgdark: #2B2D38;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-email: #f23819;

$border-radius: 2px;
$box-shadow: 3px 3px 10px black;

$width-medium: 900px;
$width-small: 600px;

/* ----------------- Imports ----------------- */

@import "bourbon";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/* ----------------- Fonts ----------------- */

@include font-face("Avenir", "/fonts/avenir/AvenirLT-Light", 300, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Book", 400, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Roman", 500, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Medium", 600, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Heavy", 800, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Black", 900, $file-formats: eot svg);


$font-family: 'Avenir', 'Source Sans Pro', Arial, sans-serif;
$font-light: 300;
$font-book: 400;
$font-roman: 500;
$font-medium: 600;
$font-heavy: 800;
$font-black: 900;
$colour-font: #494c51;
$colour-font-light: #9096A0;

h1, h2, h3, h4, h5, h6{
    font-family: $font-family;
    font-weight: $font-medium;
}

p, li{
    font-family: $font-family;
    font-weight: $font-medium;
}

*{
    -webkit-font-smoothing: antialiased;
}

body{
    background-image: url("img/pattern.svg");
    background-size: cover;
}

/* ----------------- Header ----------------- */

.flexer{

    height: 100vh;

    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    
    h1{
        font-size: 50px;
        margin: 30px 0;
        padding: 0;
        font-weight: $font-light;
        color: white;
        letter-spacing: -1px;
        span{
            font-weight: $font-black;
        }
    }
    
    p{
        font-size: 18px;
        margin: 0;
        padding: 0;
        color: white;
        line-height: 1.3em;
        font-weight: $font-book;
    }

    a{
        @include background(linear-gradient(145deg, $colour-green, $colour-green-dark));
        color: white;
        padding: 10px 20px;
        border-radius: $border-radius;
        margin: 35px;
        display: inline-block;
        font-family: $font-family;
        font-weight: $font-heavy;
        font-size: 14px;
        text-transform: uppercase;
    }
}
