/* 
Theme Name: Responsive Splash
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Splash
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt
*/
/* ----------------- Mixins ----------------- */
/* ----------------- Imports ----------------- */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* ----------------- Fonts ----------------- */
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/avenir/AvenirLT-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Light.svg#Avenir") format("svg"); }
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/avenir/AvenirLT-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Book.svg#Avenir") format("svg"); }
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/avenir/AvenirLT-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Roman.svg#Avenir") format("svg"); }
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/avenir/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Medium.svg#Avenir") format("svg"); }
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/avenir/AvenirLT-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Heavy.svg#Avenir") format("svg"); }
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/avenir/AvenirLT-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Black.svg#Avenir") format("svg"); }
h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir", "Source Sans Pro", Arial, sans-serif;
  font-weight: 600; }

p, li {
  font-family: "Avenir", "Source Sans Pro", Arial, sans-serif;
  font-weight: 600; }

* {
  -webkit-font-smoothing: antialiased; }

body {
  background-image: url("img/pattern.svg");
  background-size: cover; }

/* ----------------- Header ----------------- */
.flexer {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .flexer h1 {
    font-size: 50px;
    margin: 30px 0;
    padding: 0;
    font-weight: 300;
    color: white;
    letter-spacing: -1px; }
    .flexer h1 span {
      font-weight: 900; }
  .flexer p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.3em;
    font-weight: 400; }
  .flexer a {
    background: -webkit-linear-gradient(145deg, #69cb95, #16A572);
    background: linear-gradient(145deg, #69cb95, #16A572);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 35px;
    display: inline-block;
    font-family: "Avenir", "Source Sans Pro", Arial, sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase; }
