/* 
Theme Name: Responsive Child Theme
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Child Theme
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt
*/

/* ----------------- Mixins ----------------- */

$colour-orange: #EC5D47;
$colour-orange-trans: rgba(243,101,73,0.5);
$colour-blue: #3185E7;
$colour-green: #69cb95;
$colour-green-dark: #16A572;

$colour-pink: #b769a9;
$colour-pinkle: #916DC5;
$colour-purple: #6553a1;

$colour-bglight: rgba(75,73,81,0.05);
$footer-height: 80px;
$colour-body: white;

$colour-bgdark: #2B2D38;

$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-email: #f23819;

$border-radius: 2px;
$box-shadow: 3px 3px 10px black;

$width-medium: 900px;
$width-small: 600px;

/* ----------------- Imports ----------------- */

@import "bourbon";
@import "css/jquery.remodal.css";
@import "js/validetta/validetta.min.css";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

#container{
	max-width: none;
	margin: 0;
	padding: 0;
}

.front-page #wrapper {
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
}

a{
    @include transition(all 0.25s ease-in-out);
}

::selection {
  background: $colour-orange-trans;
}

/* ----------------- Fonts ----------------- */

@include font-face("Avenir", "/fonts/avenir/AvenirLT-Light", 300, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Book", 400, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Roman", 500, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Medium", 600, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Heavy", 800, $file-formats: eot svg);
@include font-face("Avenir", "/fonts/avenir/AvenirLT-Black", 900, $file-formats: eot svg);


$font-family: 'Avenir', 'Source Sans Pro', Arial, sans-serif;
$font-light: 300;
$font-book: 400;
$font-roman: 500;
$font-medium: 600;
$font-heavy: 800;
$font-black: 900;
$colour-font: #494c51;
$colour-font-light: #9096A0;

h1, h2, h3, h4, h5, h6{
    font-family: $font-family;
    font-weight: $font-medium;
}

p, li{
    font-family: $font-family;
    font-weight: $font-medium;
}

#slides{
    display: none;
}

*{
    -webkit-font-smoothing: antialiased;
}



/* ----------------- Header ----------------- */

header{
    display: block;
    text-align: center;
    background: $colour-bgdark;
    box-sizing: border-box;
    left: 0;
    width: 100% !important;
    padding: 20px;
    min-height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 99;
	.logo_wrapper{
	   float: left;
    	.logo{
    		height: 25px;
    		margin: 2.5px;
    	}
    }
    .menu-top-menu-container{
        display: inline-block;
        float: right;
        #menu-top-menu{
            &.menu{
                background: none;
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    font-size: 15px;
                    margin: 0;
                    line-height: 30px;
                    &:hover{
                        background: transparent;
                    }
                    a{
                        @include transition(all 0.30s ease-in-out);
                        color: white;
                        height: 30px;
                        line-height: 30px;
                        border: 0;
                        margin: 0;
                        text-shadow: none;
                        font-size: 14px;
                        font-family: $font-family;
                        font-weight: $font-black;
                        text-transform: uppercase;
                        &:hover{
                            background: transparent;
                            color: $colour-font-light;
                        }
                    }
                    &.social_register a{
                        color: $colour-green-dark;
                    }
                }
                .current_page_item a, .current-menu-item a{
                    background: transparent;
                    color: $colour-blue;
                }

            }
        }
    }
}

#hero{
	text-align: center;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: $colour-bgdark;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 141px);
    min-height: 400px;
    text-align: center;
    @include display(flex);
    @include flex-direction(row);
    @include flex-flow(center);
    @include align-items(center);
    div{
        width: 100%;
    }
    h1{
        font-size: 30px;
        text-transform: uppercase;
        margin: 30px 0;
        padding: 0;
        font-weight: $font-black;
        color: white;
        @media only screen and (max-width: $width-medium) {
            font-size: 30px;
        }
    }
    span{
        font-size: 16px;
        display: block;
        margin:  0 25px 25px 25px;
        padding: 0;
        font-weight: $font-medium;
        letter-spacing: 1px;
        color: white;
        font-family: $font-family;
    }
    p{
        font-size: 18px;
        margin: 0 auto;
        max-width: 550px;
        padding: 0;
        color: white;
        line-height: 1.3em;
        font-weight: $font-roman;
        @media only screen and (max-width: $width-medium) {
            font-size: 16px;
        }
    }
    a{
        @include background(linear-gradient(145deg, $colour-green, $colour-green-dark));
        color: white;
        padding: 20px 30px;
        border-radius: 3px;
        display: inline-block;
        margin: 35px;
        font-family: $font-family;
        font-weight: $font-heavy;
        font-size: 16px;
        text-transform: uppercase;
        &:hover{
            background-color: darken($colour-blue, 10%);
        }
    }

    @media only screen and (min-width: $width-medium) {
        background-image: url("img/hero/background-l.png");
    }
    @media only screen and (max-width: $width-medium) {
        background-image: url("img/hero/background-m.png");
    }
    @media only screen and (max-width: $width-small) {
        background-image: url("img/hero/background-s.png");
    }

    @media only screen and (max-width: $width-medium) {
        height: calc(100vh - 141px);
        padding: 100px;
    }

    @media only screen and (max-width: $width-small) {
        height: calc(100vh - 70px);
        padding: 30px;
        h1{
            font-size: 26px;
            line-height: 1.2em;
        }
        span{
            opacity: 0.5;
        }
        p{
            font-size: 16px;
            margin-bottom: 25px;
        }
        input{
            width: 100%;
            display: block;
            margin: 5px 0 !important;
            padding: 0;
        }
        a{
            margin: 10px;
        }
    }
}

/* ----------------- Front Page Sections ----------------- */

.feat-testimonials{
	text-align: center;
	margin: 0; 
    padding: 50px 0;
	background: #12131B;
	box-sizing: border-box;
    background-image: url("img/bgpattern.png");
    background-size: 40%;
    display: table;
    .slider {
        position: relative;
        overflow: auto;
        float: left;
        width: 100%;
        @media only screen and (max-width: $width-medium) {
            width: 100%;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                float: left;
                box-sizing: border-box;
                display: inline-block;
                p{
                    font-size: 20px;
                    color: white;
                    font-family: $font-family;
                    margin: 0 0 25px 0;
                    padding: 0 25px;
                    line-height: 1.5em;
                }
            }
        }
    }

    .who-wrapper{
        text-align: center;
        img{
            height: 50px;
            width: 50px;
            border-radius: 500px;
            display: inline;
            margin-right: 10px;
        }
        h4{
            font-size: 20px;
            color: white;
            text-align: left;
            display: inline;
            a{
                color: white;
                opacity: 0.5;
                font-weight: $font-roman;
                margin-top: 5px;
            }
        }
    }
	
    .unslider-arrow{
        // padding: 10px;
        // width: 5%;
        // box-sizing: border-box;
        // color: white;
        // font-size: 20px;
        // @media only screen and (max-width: $width-medium) {display: none;}
        // &.prev{
        //     float: left;
        // }
        // &.next{
        //     float: right;
        // }
        display: none;
    }

    p{
        font-size: 16px;
        color: white;
        font-family: $font-family;
        font-weight: $font-medium;
        margin: 0;
        padding: 0 25px;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    ul{ 
        text-align: center;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin: 0;
            padding: 25px;
            padding-bottom: 0;
            img{
                max-height: 40px;
                opacity: 0.65;
                @include transition(all 0.25s ease-in-out);
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
.feat-benefits{
    
    margin: 0;
    padding: 0;

    .benefit-menu{
        background: white;
        border-bottom: 1px solid #E7E7E7;
        ul{
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;
            z-index: 1;
            li{
                display: inline-block;
                a{
                    font-size: 20px;
                    font-family: $font-family;
                    font-weight: $font-medium;
                    color: $colour-font-light;
                    margin: 20px 0px;
                    padding: 0 10px;
                    display: block;
                    border-right: 1px solid #E7E7E7;
                    &:hover{
                        color: $colour-font;
                    }
                }
                &:last-child a{
                    border: 0;
                }
            }
        }
    }

    .benefit{
        @include display(flex);
        @include flex-direction(row);
        @include flex-flow(row wrap);
        @include align-items(center);
        @include justify-content(center);
        padding: 0;
        margin: 0;
        background: white;

        @media only screen and (max-width: $width-medium) {padding: 25px 25px 0 25px;}
        
        &:nth-child(odd) {
            background: #F1F1F1;
            .one{
                @include order(2);
            }
            .two{
                @include order(1);
            }
        }

        .half{
            text-align: center;
            width: 50%;
            max-width: 600px;
            box-sizing: border-box;
            padding: 0 5%;
            text-align: left;
            h4{
                font-size: 24px;
                color: $colour-font;
                text-align: left;
                margin: 0;
                margin-bottom: 25px;
                padding: 0;
                font-weight: $font-roman;
            }
            .benefit-icon{
                    opacity: 0.25;
                    margin-bottom: 25px;
                }
            p{
                font-size: 18px;
                color: $colour-font-light;
                text-align: left;
                font-weight: $font-roman;
                margin: 0;
                padding: 0;
                line-height: 1.5em;
            }
            img.screenshot{
                margin-top: 100px;
                border-radius: 5px 5px 0 0;
            }
            @media only screen and (max-width: $width-medium) {
                width: 100%;
                &.one{
                    @include order(1);
                }
                &.two{
                    @include order(2);
                }
                h3, h4, p{
                    text-align: center;
                    margin: 10px;
                }
                img.benefit-icon{
                    margin: 0 auto;
                }
            }
        }   
    }
}
.feat-pricingteaser{
    
    background-color: $colour-bgdark;
    margin: 0;
    padding: 100px 50px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;

    @media only screen and (max-width: $width-medium) {
        padding: 50px;
    }

    ul#features{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            width: 25%;
            margin: 0;
            padding: 0;
            text-align: center;
            @media only screen and (max-width: $width-small) {
                width: 50%;
                padding: 20px;
                box-sizing:border-box;
            }
            img{
                height: 40px;
                width: 40px;
                margin: 0;
                padding: 0;
            }
            h4{
                font-size: 18px;
                font-weight: $font-medium;
                color: white;
                line-height: 1.25em;
                font-family: $font-family;
                margin: 15px 0 0 0;
                padding: 0;
                @media only screen and (max-width: $width-small) {
                    font-size: 16px;
                }
            }
        }
    }

    @media only screen and (max-width: $width-small) {
        padding: 15px;
    }
}
.feat-integrations{
    
    background-color: #FFFFFF;
    margin: 0;
    padding: 100px 50px;
    text-align: center;
    box-sizing: border-box;

    .wrapper{
        display: block;
        margin: 0 auto;
        max-width: 1200px;
    }

    h2{
        margin: 0 0 10px 0;
        padding: 10px;
        font-size: 30px;
    }
    p{
        font-size: 20px;
        margin: 0 auto;
        padding: 10px;
        display: block;
        line-height: 1.5em;
        color: $colour-font-light;
    }
    h3{
        margin: 0;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
    }
    ul{
        margin: 35px 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: block;
        margin-bottom: 50px;
        overflow: hidden;
        li{
            display: inline-block;
            width: 20%;
            margin: 0;
            padding: 0;
            float: left;
            @media only screen and (max-width: $width-medium) {width: 30%}
            @media only screen and (max-width: $width-small) {width: 40%}
        }
        &.coming-soon{
            li{
                a{
                @include filter(grayscale(100%));
                opacity: 0.3;

                &:hover{
                @include filter(grayscale(0%));
                opacity: 1;
                }
                }
            }
        }
    }
    @media only screen and (max-width: $width-small) {
        padding: 15px;
        p{
            font-size: 16px;
        }
    }
}
.feat-paynow{
    
    background-color: $colour-blue;
    margin: 0;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    h2{
        margin: 0;
        padding: 0;
        font-size: 50px;
        color: white;
        line-height: 50px;
        font-weight: $font-roman;
        float: left;
        span{
            font-size: 0.5em;
            vertical-align: middle;
            font-weight: $font-medium;
        }
    }
    p{
        float: left;
        color: white;
        line-height: 50px;
        margin: 0 25px 0 5px;
        padding: 0;
        font-size: 20px;
        font-weight: $font-medium;
        color: darken($colour-blue, 25%);
    }
    .pricing-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .pricing-section{
            @media only screen and (max-width: $width-small) {
                width: 100%;
                display: block;
            }
        }
    }
    a{
        background: white;
        padding: 15px 25px;
        margin: 0;
        border-radius: $border-radius;
        display: inline-block;
        font-family: $font-family;
        font-size: 20px;
        font-weight: $font-medium;
        color: $colour-blue;
        &:hover{
            opacity: 0.5;
        }
    }
}
.feat-seepricing{
    
    @include background(linear-gradient(145deg, $colour-pink, $colour-purple));
    margin: 0;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    p{
        font-size: 20px;
        margin: 0 auto;
        padding: 10px;
        color: white;
        max-width: 600px;
        display: block;
        line-height: 1.5em;
    }
    a{
        background: white;
        padding: 20px 30px;
        margin: 20px;
        border-radius: $border-radius;
        display: inline-block;
        font-family: $font-family;
        font-size: 20px;
        font-weight: $font-medium;
        color: $colour-purple;
        &:hover{
            color: white;
            background: darken($colour-purple, 10%);
        }
    }
    @media only screen and (max-width: $width-small) {
        padding: 10px;
        p{
            font-size: 16px;
        }
        a{
            margin: 10px;
            display: block;
        }
    }
}
.feat-audit{
    @include background(linear-gradient(45deg, $colour-pink, $colour-purple));
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    p{
        color: white;
        font-size: 16px;
        font-weight: $font-medium;
        margin: 0;
        padding: 0;
        display: inline;
        line-height: 30px;
    }
    @include placeholder {
        color: darken($colour-purple, 10%);
    }
    form{
        margin: 0;
        padding: 0;
        display: inline;
        margin-left: 15px;
        input[type=email]{
            @include appearance(none);
            box-shadow: none;
            font-family: $font-family;
            font-weight: $font-medium;
            margin: 5px;
            padding: 10px;
            color: white;
            font-weight: $font-roman;
            border: none;
            border-bottom: 1px dotted darken($colour-purple, 20%);
            border-radius: 0;
            font-size: 16px;
            background: none;
            @include placeholder {
                color: darken($colour-purple, 30%);
            }
        }
        input[type=submit]{
            @include appearance(none);
            background: darken($colour-purple, 20%);
            box-sizing: border-box;
            box-shadow: none;
            font-family: $font-family;
            border-radius: $border-radius;
            color: white;
            font-weight: $font-heavy;
            border: none;
            color: white;
            padding: 10px 20px;
            font-size: 14px;
            text-shadow: none;
            &:hover{
                background: darken($colour-purple, 25%);
            }
        }
    }
}

/* ----------------- Blog ----------------- */

.post{
    padding: 0;
    margin: 0;
    background: white;
    overflow: hidden;

    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    &:nth-child(even) {
        .one{
            @include order(2);
        }
        .two{
            @include order(1);
        }
    }

    @media only screen and (max-width: $width-medium) {
        &:nth-child(even) {
            .one{
                @include order(1);
            }
            .two{
                @include order(2);
            }
        }
    }

    .wrap{
        padding: 25px 50px;
        width: 50%;
        box-sizing: border-box;
        text-align: center;
        .post-title{
            font-size: 24px;
            margin: 0;
            padding: 0 0 20px 0;
            color: $colour-font;
            font-weight: $font-roman;
            a{
                color: $colour-font;
                font-weight: $font-roman;
            }
        }
        h4{
            font-size: 16px;
            margin: 0;
            padding: 0 0 20px 0;
            color: $colour-font-light;
            font-weight: $font-roman;
        }
        .avatar{
            height: 40px;
            width: 40px;
            border-radius: 1000px;
            float: left;
            margin-right: 15px;
            border: 0;
        }
        .p-meta{
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            padding: 0;
            font-weight: $font-roman;
            a{
                color: $colour-font;
                font-weight: $font-medium;
            }
        }
        @media only screen and (max-width: $width-medium) {
            width: 100%;
            padding: 25px 25px 75px 25px;
        }
    }
	.featured-image{
		margin: 0;
		padding: 0;
        min-height: 300px;
        width: 50%;
        background-size: cover;
        background-position: center center;
        @media only screen and (max-width: $width-medium) {
            width: 100%;
            min-height: 100px;
        }
	}

    &:hover{
        .featured-image{
            opacity: 0.9;
        }
    }
}
.single-post{
    .wrap{
        width: 100%;
        padding: 75px 75px 0 75px;
    }
    .post-entry{
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0 25px;
        max-width: 900px;
    }
    .featured-image-single{
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
    .addtoany_share_save_container{
        margin: 75px;
        text-align: center;
        a span, a img{
            @include filter(grayscale(100%));
            opacity: 0.25 !important;
            &:hover{
                @include filter(grayscale(0%));
                opacity: 1 !important;
            }
        }
    }
}
#content-archive{
    margin: 0;
    padding: 0;
    .post{
        .wrap{
            text-align: left;
        }
        &:nth-child(even) {
            background: #F1F1F1;
        }
    }
    .featured-image-archive{
        height: 200px;
        width: 50%;
        background-size: cover;
        background-position: center center;
    }
}
.page-template-blog-excerpt, .single-post, .archive{
	#wrapper{
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 0;
	}
    .title-archive{
        text-align: center;
        font-size: 20px;
        font-weight: $font-roman;
        color: white;
        background-color: $colour-blue;
        padding: 25px;
        margin: 0;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        background-image: url("img/bgpattern.png");
        background-size: 40%;

    }
    .whole-wrapper{
        margin: 0;
        padding: 0;
        #content-blog{
            margin: 0;
            padding: 0;
        }
        #content{
            margin: 0;
            padding: 0;
        }
    }
}
.newsletter-bar{
    background-color: $colour-blue;
    padding: 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-image: url("img/bgpattern.png");
    background-size: 40%;
    p{
        margin: 0;
        padding: 0;
        display: inline-block;
        color: white;
        font-size: 18px;
        font-weight: $font-medium;
        line-height: 40px;
        margin-right: 25px;
        vertical-align: middle;
        i{
            color: darken($colour-orange, 20%);
            margin-right: 5px;
        }
    }
    form{
        margin: 0;
        padding: 0;
        display: inline;
        input[type=email]{
            @include appearance(none);
            box-sizing: border-box;
            box-shadow: none;
            font-family: $font-family;
            border-radius: $border-radius;
            color: $colour-blue;
            font-weight: $font-roman;
            border: none;
            padding: 10px;
            font-size: 16px;
        }
        input[type=submit]{
            @include appearance(none);
            box-sizing: border-box;
            box-shadow: none;
            font-family: $font-family;
            border-radius: $border-radius;
            color: white;
            font-weight: $font-medium;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            background: darken($colour-blue, 15%);
            text-shadow: none;
        }
    }
}
.navigation{
    background-color: $colour-orange;
    display: block;
    overflow: hidden;
    height: auto;
    margin: 0;
    padding: 25px;
    color: white;
    font-size: 14px;
    background-image: url("img/yak.png");
    background-blend-mode: multiply;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    box-sizing: border-box;
    a{
        font-family: $font-family;
        font-weight: $font-medium;
        color: white;
        &:hover{
            color: white;
            opacity: 0.5;
        }
    }
}

/* ----------------- Templates ----------------- */

.page-template-template-pricing{
    
    #wrapper{
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-size: 40%;
    }

    .feat-getearlyaccess{
        margin: 0;
        background: #F1F1F1;
        padding: 25px;
        box-sizing: border-box;
    }

    .feat-faq{
        margin: 0 auto;
        display: block;
        padding: 25px;
        box-sizing: border-box;
        
        section{
            max-width: 1000px;   
            margin: 0 auto;

        }
    }

    .feat-freetrial{
        background-color: $colour-blue;
        text-align: center;
        color: white;
        font-weight: $font-medium;
        margin: 0;
        padding: 0;
        font-size: 16px;
        padding: 50px;
        box-sizing: border-box;
        a{
            background-color: white;
            padding: 20px 25px;
            border-radius: $border-radius;
            font-family: $font-family;
            font-weight: 700;
        }
    }

    table{ 

        border: none;
        font-family: $font-family;
        max-width: 1000px;
        margin: 0 auto;

        thead, tbody, tr, th, td{
            border: none;
        }

        th{
            &:not(:first-child){
                width: 25%;
                text-align: center;
                background: white;
            }
        }

        td{
            &:first-child{
                width: 25%;
                background: #F1F1F1;
                text-align: right;
                padding-right: 15px;
                font-size: 15px;
                color: $colour-font-light;
            }
            &:not(:first-child){
                width: 25%;
                text-align: center;
            }
        }

        tbody tr{
            &:last-child{
                border: none;
            }
            &:nth-child(even){
                background: #F9F9F9;
            }
            &:nth-child(odd){
                background: white;
            }
        }

        h1{
            font-size: 20px;
        }

        h2{
            font-size: 16px;
        }

        .fa-check{
            color: $colour-blue;
        }
        .fa-times{
            color: $colour-font-light;
            opacity: 0.5;
        }

    }

    .pricing-row{
        td{
            padding: 25px;
        }
        h3{
            display: inline;
        }
        p{
            display: inline;
            font-size: 16px;
            color: $colour-font-light;
        }
        .sign-up{
            background-color: $colour-blue;
            color: white;
            padding: 10px 15px;
            font-weight: $font-medium;
            border-radius: $border-radius;
            margin: 25px auto 0 auto;
            display: block;
            &:hover{
                background: darken($colour-blue, 10%);
            }
        }
        .call-us{
            color: $colour-blue;
            padding: 10px 15px;
            font-weight: $font-medium;
            margin: 25px auto 0 auto;
            border-radius: $border-radius;
            display: block;
            font-size: 18px;
            background: white;
        }
    }
}

.page-template-template-center{
    #wrapper{
        margin: 0;
        padding: 25px;
        border: none;
        border-radius: 0;
    }
    .whole-wrapper{
        max-width: 800px;
        margin: 0 auto;
        display: block;
    }
}

.page-template-template-about{
    #content{
        margin: 0;
        padding: 0;
    }
    #wrapper{
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
    }
    .introduction{
        text-align: center;
        max-width: 900px;
        margin: 75px auto;
        img{
            height: 75px;
            margin-bottom: 25px;
        }
        h1{
            font-weight: $font-roman;
            font-size: 22px;
            line-height: 1.5em;
            margin-bottom: 40px;
            span{
                font-weight: $font-medium;
            }
        }
        p{
            font-weight: $font-book;
            font-size: 16px;
            line-height: 2em;
            color: $colour-font-light;
        }
        @media only screen and (max-width: $width-medium) {
            margin: 50px;
            h1{
                font-size: 30px;
            }
            p{
                line-height: 1.5em;
            }
        }
        @media only screen and (max-width: $width-small) {
            margin: 50px 25px;
            h1{
                font-size: 22px;
            }
            p{
                line-height: 1.5em;
            }
        }
    }
    .faces{
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(center);
        @include flex-wrap(wrap);
        box-sizing: border-box;
        margin-bottom: 75px;
        section{
            padding: 25px;
            text-align: center;
            min-width: 25px;
        }
        .introicon{
            border-radius: 150px;
            height: 120px;
            padding: 10px;
        }
        h1{
            font-size: 16px;
            font-weight: $font-heavy;
        }
        h2{
            font-size: 14px;
            color: $colour-font-light;
        }
        ul.social{
            text-align: center;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0;
                padding: 0;
                margin-top: 10px;
                i{
                    font-size: 16px;
                    margin: 5px;
                    color: $colour-font-light;
                    &:hover{
                        color: $colour-font;
                    }
                }
            }
        }
        @media only screen and (max-width: $width-small) {
            margin: 0;
            padding: 0;
        }
    }
    .about-question{
        text-align: center;
        margin: 0 auto;
        padding: 75px 0;
        display: block;
        background-color: $colour-bglight;
        form{
            display: inline-block;
            max-width: 600px;
            margin: 0;
        }
        p{
            font-size: 22px;
            margin-bottom: 50px;
        }
    }
}

.page-template-template-thanks{
    #wrapper{
        margin: 0 auto;
        padding: 0;
        border: 0;
        border-radius: 0;
        text-align: center;
        height: calc(100vh - 157px);
    }
    .register-title{
        text-align: center;
        color: $colour-font;

        font-size: 30px;
        margin-bottom: 25px;
        margin-top: 50px;
    }
    p{
        text-align: center;
        color: $colour-font;

        font-size: 20px;
        line-height: 1.75em;
        margin: 0 auto;
        padding-bottom: 50px;
        max-width: 1000px;
    }
    .homelink{
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        background: $colour-font;
        border-radius: 3px;
        color: white;
        background-color: $colour-blue;
        font-size: 16px;
        font-family: $font-family;
        font-weight: $font-medium;
        &:hover{
            background: darken($colour-blue, 10%);
        }
    }
}

/* ----------------- Extras ----------------- */

.error404{
    #wrapper{
        margin: 0 auto;
        padding: 0;
        border: 0;
        border-radius: 0;
        text-align: center;
        height: calc(100vh - 157px);
    }
    .register-title{
        text-align: center;
        color: $colour-font;

        font-size: 30px;
        margin-bottom: 25px;
        margin-top: 50px;
    }
    p{
        text-align: center;
        color: $colour-font;

        font-size: 20px;
        line-height: 1.75em;
        margin: 0 auto;
        padding-bottom: 50px;
        max-width: 1000px;
    }
    .homelink{
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        background: $colour-font;
        border-radius: 3px;
        color: white;
        background-color: $colour-blue;
        font-size: 16px;
        font-family: $font-family;
        font-weight: $font-medium;
        &:hover{
            background: darken($colour-blue, 10%);
        }
    }
}

.remodal{
    h5{
        font-size: 30px;
        font-weight: $font-medium;
        color: $colour-font;
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 20px;
        margin: 0 auto;
        padding: 10px;
        max-width: 700px;
        display: block;
        line-height: 1.5em;
        color: $colour-font-light;
    }
    hr{
        margin: 20px 0;
        padding: 0;
    }

        .has-error input {
      border-width: 2px;
    }

    .validation.text-danger:after {
      content: 'Validation failed';
    }

    .validation.text-success:after {
      content: 'Validation passed';
    }
}

#form-register, #form-question{
    label{
        float: left;
        font-family: $font-family;
        font-weight: $font-medium;
        text-transform: uppercase;
        font-size: 14px;
    }
    .cc-field{
        background-size: 20px 20px;
        background-position: 15px center;
        background-repeat: no-repeat;
    }

    input{
        width: 100%;
        @include appearance(none);
        padding: 15px;
        padding-left: 50px;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        box-shadow: none;
        font-family: $font-family;
        border-radius: $border-radius;
        color: $colour-blue;
        font-weight: $font-medium;


        &#cc-name{
            @extend .cc-field;
            background-image: url("img/cards/icon-01.svg");
        }
        &#cc-email{
            @extend .cc-field;
            background-image: url("img/cards/icon-02.svg");
        }
        &#cc-phone{
            @extend .cc-field;
            background-image: url("img/cards/icon-03.svg");
        }
        &#cc-coupon{
            @extend .cc-field;
            background-image: url("img/cards/icon-04.svg");
        }
        &#cc-number{
            @extend .cc-field;
            background-image: url("img/cards/icon-05.svg");
        }
        &#cc-exp{
            @extend .cc-field;
            background-image: url("img/cards/icon-06.svg");
        }
        &#cc-cvc{
            @extend .cc-field;
            background-image: url("img/cards/icon-07.svg");
        }
        &#cc-question{
            @extend .cc-field;
            background-image: url("img/cards/icon-08.svg");
        }

    }
    .has-error{
        input{
            border: 2px solid $colour-orange;
        }
    }
    .payment-errors.error{
        display: block;
        margin: 0;
        padding: 10px;
        border: 1px solid $colour-orange;
        border-radius: $border-radius;
        margin-bottom: 20px;
        font-family: $font-family;
        font-size: 16px;
        font-weight: $font-medium;
        color: $colour-orange;
        background-color: rgba($colour-orange, 0.25);
    }
    button{
        width: 100%;
        @include appearance(none);
        padding: 15px;
        border: 1px solid $colour-blue;
        box-sizing: border-box;
        box-shadow: none;
        font-family: $font-family;
        border-radius: $border-radius;
        color: $colour-blue;
        font-weight: $font-medium;
        background-color: $colour-blue;
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
    ul{
        text-align: left;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            img{
                height: 30px;
            }
        }
        &.visa{
            li:not(.card-visa){
                opacity: 0.25;
            }
        }
        &.mastercard{
            li:not(.card-mast){
                opacity: 0.25;
            }
        }
        &.amex{
            li:not(.card-amex){
                opacity: 0.25;
            }
        }
    }
}

.custom-social{
    max-width: 300px;
    margin: 25px auto 0 auto;
    .grid{
        background-color: red;
        padding: 10px 15px;
        box-sizing: border-box;
        color: white;

        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 2px;
        @include transition(all 0.1s ease-in-out);
        &.facebook{
            background-color: $color-facebook;
            &:hover{
                background-color: darken($color-facebook, 10%);
            }
        }
        &.twitter{
            background-color: $color-twitter;
            &:hover{
                background-color: darken($color-twitter, 10%);
            }
        }
        &.email{
            background-color: $color-email;
            &:hover{
                background-color: darken($color-email, 10%);
            }
        }
    }
}

/* ----------------- Widgets ----------------- */

.widget-wrapper{
    h3{
        font-size: 18px;

    }
    a{
        font-size: 14px;

        color: $colour-orange;
        @include transition(all 0.25s ease-in-out);
        &:hover{
            color: $colour-font;
        }
        
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{margin-bottom: 15px;}
    }
}

/* ----------------- Footer ----------------- */

footer{
    padding: 25px;
    background: $colour-bgdark;


    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);


	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			display: inline-block;
			font-size: 16px;
			line-height: 30px;
			color: white;
			@include transition(all 0.30s ease-in-out);


            margin: 0 10px;
            &.left{
                float: left;
            }
            &.right{
                float: right;
            }
			a{
				color: white;
                font-family: $font-family;
                font-weight: $font-medium;
			}
            &.question{
                font-size: 14px;
                opacity: 0.5;
            }
		}
	}
    .menu-footer-container{
        #menu-footer{
            &.menu{
                background: none;
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    font-size: 15px;
                    margin: 0;
                    line-height: 30px;
                    &:hover{
                        background: transparent;
                    }
                    a{
                        @include transition(all 0.30s ease-in-out);
                        color: white;
                        height: 30px;
                        line-height: 30px;
                        border: 0;
                        margin: 0;
                        text-shadow: none;
                        font-size: 14px;
                        font-family: $font-family;
                        font-weight: $font-medium;
                        &:hover{
                            background: transparent;
                            color: $colour-font-light;
                        }
                    }
                    &.social_register a{
                        color: $colour-blue;
                    }
                }
                .current_page_item a, .current-menu-item a{
                    background: transparent;
                    color: $colour-orange;
                }

            }
        }
    }
}

