/* 
Theme Name: Responsive Child Theme
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Child Theme
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt
*/
/* ----------------- Mixins ----------------- */
/* ----------------- Imports ----------------- */
@import url(css/jquery.remodal.css);
@import url(js/validetta/validetta.min.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
#container { max-width: none; margin: 0; padding: 0; }

.front-page #wrapper { margin: 0 auto; padding: 0; border-radius: 0; }

a { -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }

::selection { background: rgba(243, 101, 73, 0.5); }

/* ----------------- Fonts ----------------- */
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 300; src: url("/fonts/avenir/AvenirLT-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Light.svg#Avenir") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 400; src: url("/fonts/avenir/AvenirLT-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Book.svg#Avenir") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 500; src: url("/fonts/avenir/AvenirLT-Roman.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Roman.svg#Avenir") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 600; src: url("/fonts/avenir/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Medium.svg#Avenir") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 800; src: url("/fonts/avenir/AvenirLT-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Heavy.svg#Avenir") format("svg"); }
@font-face { font-family: "Avenir"; font-style: normal; font-weight: 900; src: url("/fonts/avenir/AvenirLT-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/avenir/AvenirLT-Black.svg#Avenir") format("svg"); }
h1, h2, h3, h4, h5, h6 { font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; }

p, li { font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; }

#slides { display: none; }

* { -webkit-font-smoothing: antialiased; }

/* ----------------- Header ----------------- */
header { display: block; text-align: center; background: #2B2D38; box-sizing: border-box; left: 0; width: 100% !important; padding: 20px; min-height: 70px; overflow: hidden; position: relative; z-index: 99; }
header .logo_wrapper { float: left; }
header .logo_wrapper .logo { height: 25px; margin: 2.5px; }
header .menu-top-menu-container { display: inline-block; float: right; }
header .menu-top-menu-container #menu-top-menu.menu { background: none; margin: 0; padding: 0; }
header .menu-top-menu-container #menu-top-menu.menu li { list-style: none; display: inline-block; font-size: 15px; margin: 0; line-height: 30px; }
header .menu-top-menu-container #menu-top-menu.menu li:hover { background: transparent; }
header .menu-top-menu-container #menu-top-menu.menu li a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: white; height: 30px; line-height: 30px; border: 0; margin: 0; text-shadow: none; font-size: 14px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 900; text-transform: uppercase; }
header .menu-top-menu-container #menu-top-menu.menu li a:hover { background: transparent; color: #9096A0; }
header .menu-top-menu-container #menu-top-menu.menu li.social_register a { color: #16A572; }
header .menu-top-menu-container #menu-top-menu.menu .current_page_item a, header .menu-top-menu-container #menu-top-menu.menu .current-menu-item a { background: transparent; color: #3185E7; }

#hero { text-align: center; margin: 0; padding: 0; box-sizing: border-box; width: 100%; background-color: #2B2D38; background-repeat: no-repeat; background-position: center center; background-size: cover; height: calc(100vh - 141px); min-height: 400px; text-align: center; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal; box-direction: normal; -webkit-flex-direction: row; -moz-flex-direction: row; flex-direction: row; -ms-flex-direction: row; -webkit-flex-flow: center; -moz-flex-flow: center; flex-flow: center; -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; }
#hero div { width: 100%; }
#hero h1 { font-size: 30px; text-transform: uppercase; margin: 30px 0; padding: 0; font-weight: 900; color: white; }
@media only screen and (max-width: 900px) { #hero h1 { font-size: 30px; } }
#hero span { font-size: 16px; display: block; margin: 0 25px 25px 25px; padding: 0; font-weight: 600; letter-spacing: 1px; color: white; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; }
#hero p { font-size: 18px; margin: 0 auto; max-width: 550px; padding: 0; color: white; line-height: 1.3em; font-weight: 500; }
@media only screen and (max-width: 900px) { #hero p { font-size: 16px; } }
#hero a { background: -webkit-linear-gradient(-415deg, #69cb95, #16A572); background: linear-gradient(145deg, #69cb95, #16A572); color: white; padding: 20px 30px; border-radius: 3px; display: inline-block; margin: 35px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 800; font-size: 16px; text-transform: uppercase; }
#hero a:hover { background-color: #186ccd; }
@media only screen and (min-width: 900px) { #hero { background-image: url("img/hero/background-l.png"); } }
@media only screen and (max-width: 900px) { #hero { background-image: url("img/hero/background-m.png"); } }
@media only screen and (max-width: 600px) { #hero { background-image: url("img/hero/background-s.png"); } }
@media only screen and (max-width: 900px) { #hero { height: calc(100vh - 141px); padding: 100px; } }
@media only screen and (max-width: 600px) { #hero { height: calc(100vh - 70px); padding: 30px; }
  #hero h1 { font-size: 26px; line-height: 1.2em; }
  #hero span { opacity: 0.5; }
  #hero p { font-size: 16px; margin-bottom: 25px; }
  #hero input { width: 100%; display: block; margin: 5px 0 !important; padding: 0; }
  #hero a { margin: 10px; } }

/* ----------------- Front Page Sections ----------------- */
.feat-testimonials { text-align: center; margin: 0; padding: 50px 0; background: #12131B; box-sizing: border-box; background-image: url("img/bgpattern.png"); background-size: 40%; display: table; }
.feat-testimonials .slider { position: relative; overflow: auto; float: left; width: 100%; }
@media only screen and (max-width: 900px) { .feat-testimonials .slider { width: 100%; } }
.feat-testimonials .slider ul { list-style: none; margin: 0; padding: 0; }
.feat-testimonials .slider ul li { float: left; box-sizing: border-box; display: inline-block; }
.feat-testimonials .slider ul li p { font-size: 20px; color: white; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; margin: 0 0 25px 0; padding: 0 25px; line-height: 1.5em; }
.feat-testimonials .who-wrapper { text-align: center; }
.feat-testimonials .who-wrapper img { height: 50px; width: 50px; border-radius: 500px; display: inline; margin-right: 10px; }
.feat-testimonials .who-wrapper h4 { font-size: 20px; color: white; text-align: left; display: inline; }
.feat-testimonials .who-wrapper h4 a { color: white; opacity: 0.5; font-weight: 500; margin-top: 5px; }
.feat-testimonials .unslider-arrow { display: none; }
.feat-testimonials p { font-size: 16px; color: white; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; margin: 0; padding: 0 25px; line-height: 1.5em; text-transform: uppercase; letter-spacing: 0.5px; }
.feat-testimonials ul { text-align: center; margin: 0; padding: 0; }
.feat-testimonials ul li { display: inline-block; margin: 0; padding: 25px; padding-bottom: 0; }
.feat-testimonials ul li img { max-height: 40px; opacity: 0.65; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.feat-testimonials ul li img:hover { opacity: 1; }

.feat-benefits { margin: 0; padding: 0; }
.feat-benefits .benefit-menu { background: white; border-bottom: 1px solid #E7E7E7; }
.feat-benefits .benefit-menu ul { list-style: none; text-align: center; margin: 0; padding: 0; z-index: 1; }
.feat-benefits .benefit-menu ul li { display: inline-block; }
.feat-benefits .benefit-menu ul li a { font-size: 20px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; color: #9096A0; margin: 20px 0px; padding: 0 10px; display: block; border-right: 1px solid #E7E7E7; }
.feat-benefits .benefit-menu ul li a:hover { color: #494c51; }
.feat-benefits .benefit-menu ul li:last-child a { border: 0; }
.feat-benefits .benefit { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal; box-direction: normal; -webkit-flex-direction: row; -moz-flex-direction: row; flex-direction: row; -ms-flex-direction: row; -webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -ms-flex-pack: center; padding: 0; margin: 0; background: white; }
@media only screen and (max-width: 900px) { .feat-benefits .benefit { padding: 25px 25px 0 25px; } }
.feat-benefits .benefit:nth-child(odd) { background: #F1F1F1; }
.feat-benefits .benefit:nth-child(odd) .one { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; -webkit-order: 2; -moz-order: 2; order: 2; -ms-flex-order: 2; }
.feat-benefits .benefit:nth-child(odd) .two { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1; -webkit-order: 1; -moz-order: 1; order: 1; -ms-flex-order: 1; }
.feat-benefits .benefit .half { text-align: center; width: 50%; max-width: 600px; box-sizing: border-box; padding: 0 5%; text-align: left; }
.feat-benefits .benefit .half h4 { font-size: 24px; color: #494c51; text-align: left; margin: 0; margin-bottom: 25px; padding: 0; font-weight: 500; }
.feat-benefits .benefit .half .benefit-icon { opacity: 0.25; margin-bottom: 25px; }
.feat-benefits .benefit .half p { font-size: 18px; color: #9096A0; text-align: left; font-weight: 500; margin: 0; padding: 0; line-height: 1.5em; }
.feat-benefits .benefit .half img.screenshot { margin-top: 100px; border-radius: 5px 5px 0 0; }
@media only screen and (max-width: 900px) { .feat-benefits .benefit .half { width: 100%; }
  .feat-benefits .benefit .half.one { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1; -webkit-order: 1; -moz-order: 1; order: 1; -ms-flex-order: 1; }
  .feat-benefits .benefit .half.two { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; -webkit-order: 2; -moz-order: 2; order: 2; -ms-flex-order: 2; }
  .feat-benefits .benefit .half h3, .feat-benefits .benefit .half h4, .feat-benefits .benefit .half p { text-align: center; margin: 10px; }
  .feat-benefits .benefit .half img.benefit-icon { margin: 0 auto; } }

.feat-pricingteaser { background-color: #2B2D38; margin: 0; padding: 100px 50px; text-align: center; box-sizing: border-box; display: inline-block; }
@media only screen and (max-width: 900px) { .feat-pricingteaser { padding: 50px; } }
.feat-pricingteaser ul#features { margin: 0; padding: 0; list-style: none; }
.feat-pricingteaser ul#features li { float: left; width: 25%; margin: 0; padding: 0; text-align: center; }
@media only screen and (max-width: 600px) { .feat-pricingteaser ul#features li { width: 50%; padding: 20px; box-sizing: border-box; } }
.feat-pricingteaser ul#features li img { height: 40px; width: 40px; margin: 0; padding: 0; }
.feat-pricingteaser ul#features li h4 { font-size: 18px; font-weight: 600; color: white; line-height: 1.25em; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; margin: 15px 0 0 0; padding: 0; }
@media only screen and (max-width: 600px) { .feat-pricingteaser ul#features li h4 { font-size: 16px; } }
@media only screen and (max-width: 600px) { .feat-pricingteaser { padding: 15px; } }

.feat-integrations { background-color: #FFFFFF; margin: 0; padding: 100px 50px; text-align: center; box-sizing: border-box; }
.feat-integrations .wrapper { display: block; margin: 0 auto; max-width: 1200px; }
.feat-integrations h2 { margin: 0 0 10px 0; padding: 10px; font-size: 30px; }
.feat-integrations p { font-size: 20px; margin: 0 auto; padding: 10px; display: block; line-height: 1.5em; color: #9096A0; }
.feat-integrations h3 { margin: 0; padding: 0; font-size: 16px; text-transform: uppercase; }
.feat-integrations ul { margin: 35px 0; padding: 0; list-style: none; text-align: center; display: block; margin-bottom: 50px; overflow: hidden; }
.feat-integrations ul li { display: inline-block; width: 20%; margin: 0; padding: 0; float: left; }
@media only screen and (max-width: 900px) { .feat-integrations ul li { width: 30%; } }
@media only screen and (max-width: 600px) { .feat-integrations ul li { width: 40%; } }
.feat-integrations ul.coming-soon li a { -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.3; }
.feat-integrations ul.coming-soon li a:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); opacity: 1; }
@media only screen and (max-width: 600px) { .feat-integrations { padding: 15px; }
  .feat-integrations p { font-size: 16px; } }

.feat-paynow { background-color: #3185E7; margin: 0; padding: 25px; text-align: center; box-sizing: border-box; }
.feat-paynow h2 { margin: 0; padding: 0; font-size: 50px; color: white; line-height: 50px; font-weight: 500; float: left; }
.feat-paynow h2 span { font-size: 0.5em; vertical-align: middle; font-weight: 600; }
.feat-paynow p { float: left; color: white; line-height: 50px; margin: 0 25px 0 5px; padding: 0; font-size: 20px; font-weight: 600; color: #104889; }
.feat-paynow .pricing-wrapper { display: flex; flex-direction: row; justify-content: center; }
@media only screen and (max-width: 600px) { .feat-paynow .pricing-wrapper .pricing-section { width: 100%; display: block; } }
.feat-paynow a { background: white; padding: 15px 25px; margin: 0; border-radius: 2px; display: inline-block; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-size: 20px; font-weight: 600; color: #3185E7; }
.feat-paynow a:hover { opacity: 0.5; }

.feat-seepricing { background: -webkit-linear-gradient(-415deg, #b769a9, #6553a1); background: linear-gradient(145deg, #b769a9, #6553a1); margin: 0; padding: 50px; text-align: center; box-sizing: border-box; }
.feat-seepricing p { font-size: 20px; margin: 0 auto; padding: 10px; color: white; max-width: 600px; display: block; line-height: 1.5em; }
.feat-seepricing a { background: white; padding: 20px 30px; margin: 20px; border-radius: 2px; display: inline-block; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-size: 20px; font-weight: 600; color: #6553a1; }
.feat-seepricing a:hover { color: white; background: #50427f; }
@media only screen and (max-width: 600px) { .feat-seepricing { padding: 10px; }
  .feat-seepricing p { font-size: 16px; }
  .feat-seepricing a { margin: 10px; display: block; } }

.feat-audit { background: -webkit-linear-gradient(-315deg, #b769a9, #6553a1); background: linear-gradient(45deg, #b769a9, #6553a1); margin: 0; padding: 10px; text-align: center; box-sizing: border-box; }
.feat-audit p { color: white; font-size: 16px; font-weight: 600; margin: 0; padding: 0; display: inline; line-height: 30px; }
.feat-audit::-webkit-input-placeholder { color: #50427f; }
.feat-audit::-moz-placeholder { color: #50427f; }
.feat-audit:-moz-placeholder { color: #50427f; }
.feat-audit:-ms-input-placeholder { color: #50427f; }
.feat-audit form { margin: 0; padding: 0; display: inline; margin-left: 15px; }
.feat-audit form input[type=email] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; box-shadow: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; margin: 5px; padding: 10px; color: white; font-weight: 500; border: none; border-bottom: 1px dotted #3b305e; border-radius: 0; font-size: 16px; background: none; }
.feat-audit form input[type=email]::-webkit-input-placeholder { color: #261f3c; }
.feat-audit form input[type=email]::-moz-placeholder { color: #261f3c; }
.feat-audit form input[type=email]:-moz-placeholder { color: #261f3c; }
.feat-audit form input[type=email]:-ms-input-placeholder { color: #261f3c; }
.feat-audit form input[type=submit] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; background: #3b305e; box-sizing: border-box; box-shadow: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; border-radius: 2px; color: white; font-weight: 800; border: none; color: white; padding: 10px 20px; font-size: 14px; text-shadow: none; }
.feat-audit form input[type=submit]:hover { background: #30284d; }

/* ----------------- Blog ----------------- */
.post { padding: 0; margin: 0; background: white; overflow: hidden; -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal; box-direction: normal; -webkit-flex-direction: row; -moz-flex-direction: row; flex-direction: row; -ms-flex-direction: row; -webkit-box-lines: multiple; -moz-box-lines: multiple; box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.post:nth-child(even) .one { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; -webkit-order: 2; -moz-order: 2; order: 2; -ms-flex-order: 2; }
.post:nth-child(even) .two { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1; -webkit-order: 1; -moz-order: 1; order: 1; -ms-flex-order: 1; }
@media only screen and (max-width: 900px) { .post:nth-child(even) .one { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; box-ordinal-group: 1; -webkit-order: 1; -moz-order: 1; order: 1; -ms-flex-order: 1; }
  .post:nth-child(even) .two { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; box-ordinal-group: 2; -webkit-order: 2; -moz-order: 2; order: 2; -ms-flex-order: 2; } }
.post .wrap { padding: 25px 50px; width: 50%; box-sizing: border-box; text-align: center; }
.post .wrap .post-title { font-size: 24px; margin: 0; padding: 0 0 20px 0; color: #494c51; font-weight: 500; }
.post .wrap .post-title a { color: #494c51; font-weight: 500; }
.post .wrap h4 { font-size: 16px; margin: 0; padding: 0 0 20px 0; color: #9096A0; font-weight: 500; }
.post .wrap .avatar { height: 40px; width: 40px; border-radius: 1000px; float: left; margin-right: 15px; border: 0; }
.post .wrap .p-meta { height: 20px; font-size: 14px; line-height: 20px; margin: 0; padding: 0; font-weight: 500; }
.post .wrap .p-meta a { color: #494c51; font-weight: 600; }
@media only screen and (max-width: 900px) { .post .wrap { width: 100%; padding: 25px 25px 75px 25px; } }
.post .featured-image { margin: 0; padding: 0; min-height: 300px; width: 50%; background-size: cover; background-position: center center; }
@media only screen and (max-width: 900px) { .post .featured-image { width: 100%; min-height: 100px; } }
.post:hover .featured-image { opacity: 0.9; }

.single-post .wrap { width: 100%; padding: 75px 75px 0 75px; }
.single-post .post-entry { width: 100%; display: block; margin: 0 auto; padding: 0 25px; max-width: 900px; }
.single-post .featured-image-single { height: 200px; width: 100%; background-size: cover; background-position: center center; }
.single-post .addtoany_share_save_container { margin: 75px; text-align: center; }
.single-post .addtoany_share_save_container a span, .single-post .addtoany_share_save_container a img { -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.25 !important; }
.single-post .addtoany_share_save_container a span:hover, .single-post .addtoany_share_save_container a img:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); opacity: 1 !important; }

#content-archive { margin: 0; padding: 0; }
#content-archive .post .wrap { text-align: left; }
#content-archive .post:nth-child(even) { background: #F1F1F1; }
#content-archive .featured-image-archive { height: 200px; width: 50%; background-size: cover; background-position: center center; }

.page-template-blog-excerpt #wrapper, .single-post #wrapper, .archive #wrapper { padding: 0; margin: 0; border: 0; border-radius: 0; }
.page-template-blog-excerpt .title-archive, .single-post .title-archive, .archive .title-archive { text-align: center; font-size: 20px; font-weight: 500; color: white; background-color: #3185E7; padding: 25px; margin: 0; display: inline-block; width: 100%; box-sizing: border-box; text-align: center; background-image: url("img/bgpattern.png"); background-size: 40%; }
.page-template-blog-excerpt .whole-wrapper, .single-post .whole-wrapper, .archive .whole-wrapper { margin: 0; padding: 0; }
.page-template-blog-excerpt .whole-wrapper #content-blog, .single-post .whole-wrapper #content-blog, .archive .whole-wrapper #content-blog { margin: 0; padding: 0; }
.page-template-blog-excerpt .whole-wrapper #content, .single-post .whole-wrapper #content, .archive .whole-wrapper #content { margin: 0; padding: 0; }

.newsletter-bar { background-color: #3185E7; padding: 15px; display: inline-block; width: 100%; box-sizing: border-box; text-align: center; background-image: url("img/bgpattern.png"); background-size: 40%; }
.newsletter-bar p { margin: 0; padding: 0; display: inline-block; color: white; font-size: 18px; font-weight: 600; line-height: 40px; margin-right: 25px; vertical-align: middle; }
.newsletter-bar p i { color: #ba2913; margin-right: 5px; }
.newsletter-bar form { margin: 0; padding: 0; display: inline; }
.newsletter-bar form input[type=email] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; box-sizing: border-box; box-shadow: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; border-radius: 2px; color: #3185E7; font-weight: 500; border: none; padding: 10px; font-size: 16px; }
.newsletter-bar form input[type=submit] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; box-sizing: border-box; box-shadow: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; border-radius: 2px; color: white; font-weight: 600; border: none; padding: 10px 20px; font-size: 16px; background: #1560b6; text-shadow: none; }

.navigation { background-color: #EC5D47; display: block; overflow: hidden; height: auto; margin: 0; padding: 25px; color: white; font-size: 14px; background-image: url("img/yak.png"); background-blend-mode: multiply; background-size: 400px; background-repeat: no-repeat; background-position: center center; width: 100%; box-sizing: border-box; }
.navigation a { font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; color: white; }
.navigation a:hover { color: white; opacity: 0.5; }

/* ----------------- Templates ----------------- */
.page-template-template-pricing #wrapper { margin: 0; padding: 0; border: 0; border-radius: 0; background-size: 40%; }
.page-template-template-pricing .feat-getearlyaccess { margin: 0; background: #F1F1F1; padding: 25px; box-sizing: border-box; }
.page-template-template-pricing .feat-faq { margin: 0 auto; display: block; padding: 25px; box-sizing: border-box; }
.page-template-template-pricing .feat-faq section { max-width: 1000px; margin: 0 auto; }
.page-template-template-pricing .feat-freetrial { background-color: #3185E7; text-align: center; color: white; font-weight: 600; margin: 0; padding: 0; font-size: 16px; padding: 50px; box-sizing: border-box; }
.page-template-template-pricing .feat-freetrial a { background-color: white; padding: 20px 25px; border-radius: 2px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 700; }
.page-template-template-pricing table { border: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; max-width: 1000px; margin: 0 auto; }
.page-template-template-pricing table thead, .page-template-template-pricing table tbody, .page-template-template-pricing table tr, .page-template-template-pricing table th, .page-template-template-pricing table td { border: none; }
.page-template-template-pricing table th:not(:first-child) { width: 25%; text-align: center; background: white; }
.page-template-template-pricing table td:first-child { width: 25%; background: #F1F1F1; text-align: right; padding-right: 15px; font-size: 15px; color: #9096A0; }
.page-template-template-pricing table td:not(:first-child) { width: 25%; text-align: center; }
.page-template-template-pricing table tbody tr:last-child { border: none; }
.page-template-template-pricing table tbody tr:nth-child(even) { background: #F9F9F9; }
.page-template-template-pricing table tbody tr:nth-child(odd) { background: white; }
.page-template-template-pricing table h1 { font-size: 20px; }
.page-template-template-pricing table h2 { font-size: 16px; }
.page-template-template-pricing table .fa-check { color: #3185E7; }
.page-template-template-pricing table .fa-times { color: #9096A0; opacity: 0.5; }
.page-template-template-pricing .pricing-row td { padding: 25px; }
.page-template-template-pricing .pricing-row h3 { display: inline; }
.page-template-template-pricing .pricing-row p { display: inline; font-size: 16px; color: #9096A0; }
.page-template-template-pricing .pricing-row .sign-up { background-color: #3185E7; color: white; padding: 10px 15px; font-weight: 600; border-radius: 2px; margin: 25px auto 0 auto; display: block; }
.page-template-template-pricing .pricing-row .sign-up:hover { background: #186ccd; }
.page-template-template-pricing .pricing-row .call-us { color: #3185E7; padding: 10px 15px; font-weight: 600; margin: 25px auto 0 auto; border-radius: 2px; display: block; font-size: 18px; background: white; }

.page-template-template-center #wrapper { margin: 0; padding: 25px; border: none; border-radius: 0; }
.page-template-template-center .whole-wrapper { max-width: 800px; margin: 0 auto; display: block; }

.page-template-template-about #content { margin: 0; padding: 0; }
.page-template-template-about #wrapper { margin: 0; padding: 0; border: none; border-radius: 0; }
.page-template-template-about .introduction { text-align: center; max-width: 900px; margin: 75px auto; }
.page-template-template-about .introduction img { height: 75px; margin-bottom: 25px; }
.page-template-template-about .introduction h1 { font-weight: 500; font-size: 22px; line-height: 1.5em; margin-bottom: 40px; }
.page-template-template-about .introduction h1 span { font-weight: 600; }
.page-template-template-about .introduction p { font-weight: 400; font-size: 16px; line-height: 2em; color: #9096A0; }
@media only screen and (max-width: 900px) { .page-template-template-about .introduction { margin: 50px; }
  .page-template-template-about .introduction h1 { font-size: 30px; }
  .page-template-template-about .introduction p { line-height: 1.5em; } }
@media only screen and (max-width: 600px) { .page-template-template-about .introduction { margin: 50px 25px; }
  .page-template-template-about .introduction h1 { font-size: 22px; }
  .page-template-template-about .introduction p { line-height: 1.5em; } }
.page-template-template-about .faces { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal; box-direction: normal; -webkit-flex-direction: row; -moz-flex-direction: row; flex-direction: row; -ms-flex-direction: row; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; -o-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-box-lines: multiple; -moz-box-lines: multiple; box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; box-sizing: border-box; margin-bottom: 75px; }
.page-template-template-about .faces section { padding: 25px; text-align: center; min-width: 25px; }
.page-template-template-about .faces .introicon { border-radius: 150px; height: 120px; padding: 10px; }
.page-template-template-about .faces h1 { font-size: 16px; font-weight: 800; }
.page-template-template-about .faces h2 { font-size: 14px; color: #9096A0; }
.page-template-template-about .faces ul.social { text-align: center; margin: 0; padding: 0; list-style: none; }
.page-template-template-about .faces ul.social li { display: inline-block; margin: 0; padding: 0; margin-top: 10px; }
.page-template-template-about .faces ul.social li i { font-size: 16px; margin: 5px; color: #9096A0; }
.page-template-template-about .faces ul.social li i:hover { color: #494c51; }
@media only screen and (max-width: 600px) { .page-template-template-about .faces { margin: 0; padding: 0; } }
.page-template-template-about .about-question { text-align: center; margin: 0 auto; padding: 75px 0; display: block; background-color: rgba(75, 73, 81, 0.05); }
.page-template-template-about .about-question form { display: inline-block; max-width: 600px; margin: 0; }
.page-template-template-about .about-question p { font-size: 22px; margin-bottom: 50px; }

.page-template-template-thanks #wrapper { margin: 0 auto; padding: 0; border: 0; border-radius: 0; text-align: center; height: calc(100vh - 157px); }
.page-template-template-thanks .register-title { text-align: center; color: #494c51; font-size: 30px; margin-bottom: 25px; margin-top: 50px; }
.page-template-template-thanks p { text-align: center; color: #494c51; font-size: 20px; line-height: 1.75em; margin: 0 auto; padding-bottom: 50px; max-width: 1000px; }
.page-template-template-thanks .homelink { display: inline-block; margin: 0; padding: 10px 20px; background: #494c51; border-radius: 3px; color: white; background-color: #3185E7; font-size: 16px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; }
.page-template-template-thanks .homelink:hover { background: #186ccd; }

/* ----------------- Extras ----------------- */
.error404 #wrapper { margin: 0 auto; padding: 0; border: 0; border-radius: 0; text-align: center; height: calc(100vh - 157px); }
.error404 .register-title { text-align: center; color: #494c51; font-size: 30px; margin-bottom: 25px; margin-top: 50px; }
.error404 p { text-align: center; color: #494c51; font-size: 20px; line-height: 1.75em; margin: 0 auto; padding-bottom: 50px; max-width: 1000px; }
.error404 .homelink { display: inline-block; margin: 0; padding: 10px 20px; background: #494c51; border-radius: 3px; color: white; background-color: #3185E7; font-size: 16px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; }
.error404 .homelink:hover { background: #186ccd; }

.remodal h5 { font-size: 30px; font-weight: 600; color: #494c51; margin: 0; padding: 0; }
.remodal p { font-size: 20px; margin: 0 auto; padding: 10px; max-width: 700px; display: block; line-height: 1.5em; color: #9096A0; }
.remodal hr { margin: 20px 0; padding: 0; }
.remodal .has-error input { border-width: 2px; }
.remodal .validation.text-danger:after { content: 'Validation failed'; }
.remodal .validation.text-success:after { content: 'Validation passed'; }

#form-register label, #form-question label { float: left; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; text-transform: uppercase; font-size: 14px; }
#form-register .cc-field, #form-register input#cc-name, #form-register input#cc-email, #form-register input#cc-phone, #form-register input#cc-coupon, #form-register input#cc-number, #form-register input#cc-exp, #form-register input#cc-cvc, #form-register input#cc-question, #form-question .cc-field, #form-question input#cc-name, #form-question input#cc-email, #form-question input#cc-phone, #form-question input#cc-coupon, #form-question input#cc-number, #form-question input#cc-exp, #form-question input#cc-cvc, #form-question input#cc-question { background-size: 20px 20px; background-position: 15px center; background-repeat: no-repeat; }
#form-register input, #form-question input { width: 100%; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; padding: 15px; padding-left: 50px; border: 1px solid #DCDCDC; box-sizing: border-box; box-shadow: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; border-radius: 2px; color: #3185E7; font-weight: 600; }
#form-register input#cc-name, #form-question input#cc-name { background-image: url("img/cards/icon-01.svg"); }
#form-register input#cc-email, #form-question input#cc-email { background-image: url("img/cards/icon-02.svg"); }
#form-register input#cc-phone, #form-question input#cc-phone { background-image: url("img/cards/icon-03.svg"); }
#form-register input#cc-coupon, #form-question input#cc-coupon { background-image: url("img/cards/icon-04.svg"); }
#form-register input#cc-number, #form-question input#cc-number { background-image: url("img/cards/icon-05.svg"); }
#form-register input#cc-exp, #form-question input#cc-exp { background-image: url("img/cards/icon-06.svg"); }
#form-register input#cc-cvc, #form-question input#cc-cvc { background-image: url("img/cards/icon-07.svg"); }
#form-register input#cc-question, #form-question input#cc-question { background-image: url("img/cards/icon-08.svg"); }
#form-register .has-error input, #form-question .has-error input { border: 2px solid #EC5D47; }
#form-register .payment-errors.error, #form-question .payment-errors.error { display: block; margin: 0; padding: 10px; border: 1px solid #EC5D47; border-radius: 2px; margin-bottom: 20px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-size: 16px; font-weight: 600; color: #EC5D47; background-color: rgba(236, 93, 71, 0.25); }
#form-register button, #form-question button { width: 100%; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; padding: 15px; border: 1px solid #3185E7; box-sizing: border-box; box-shadow: none; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; border-radius: 2px; color: #3185E7; font-weight: 600; background-color: #3185E7; color: white; }
#form-register button:hover, #form-question button:hover { cursor: pointer; }
#form-register ul, #form-question ul { text-align: left; margin: 0; padding: 0; list-style: none; }
#form-register ul li, #form-question ul li { display: inline-block; }
#form-register ul li img, #form-question ul li img { height: 30px; }
#form-register ul.visa li:not(.card-visa), #form-question ul.visa li:not(.card-visa) { opacity: 0.25; }
#form-register ul.mastercard li:not(.card-mast), #form-question ul.mastercard li:not(.card-mast) { opacity: 0.25; }
#form-register ul.amex li:not(.card-amex), #form-question ul.amex li:not(.card-amex) { opacity: 0.25; }

.custom-social { max-width: 300px; margin: 25px auto 0 auto; }
.custom-social .grid { background-color: red; padding: 10px 15px; box-sizing: border-box; color: white; text-transform: uppercase; letter-spacing: 1px; border-radius: 2px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.custom-social .grid.facebook { background-color: #3b5998; }
.custom-social .grid.facebook:hover { background-color: #2d4373; }
.custom-social .grid.twitter { background-color: #55acee; }
.custom-social .grid.twitter:hover { background-color: #2795e9; }
.custom-social .grid.email { background-color: #f23819; }
.custom-social .grid.email:hover { background-color: #cc270c; }

/* ----------------- Widgets ----------------- */
.widget-wrapper h3 { font-size: 18px; }
.widget-wrapper a { font-size: 14px; color: #EC5D47; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.widget-wrapper a:hover { color: #494c51; }
.widget-wrapper ul { list-style: none; margin: 0; padding: 0; }
.widget-wrapper ul li { margin-bottom: 15px; }

/* ----------------- Footer ----------------- */
footer { padding: 25px; background: #2B2D38; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-direction: normal; -moz-box-direction: normal; box-direction: normal; -webkit-flex-direction: row; -moz-flex-direction: row; flex-direction: row; -ms-flex-direction: row; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
footer ul { margin: 0; padding: 0; }
footer ul li { list-style: none; display: inline-block; font-size: 16px; line-height: 30px; color: white; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; margin: 0 10px; }
footer ul li.left { float: left; }
footer ul li.right { float: right; }
footer ul li a { color: white; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; }
footer ul li.question { font-size: 14px; opacity: 0.5; }
footer .menu-footer-container #menu-footer.menu { background: none; margin: 0; padding: 0; }
footer .menu-footer-container #menu-footer.menu li { list-style: none; display: inline-block; font-size: 15px; margin: 0; line-height: 30px; }
footer .menu-footer-container #menu-footer.menu li:hover { background: transparent; }
footer .menu-footer-container #menu-footer.menu li a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: white; height: 30px; line-height: 30px; border: 0; margin: 0; text-shadow: none; font-size: 14px; font-family: "Avenir", "Source Sans Pro", Arial, sans-serif; font-weight: 600; }
footer .menu-footer-container #menu-footer.menu li a:hover { background: transparent; color: #9096A0; }
footer .menu-footer-container #menu-footer.menu li.social_register a { color: #3185E7; }
footer .menu-footer-container #menu-footer.menu .current_page_item a, footer .menu-footer-container #menu-footer.menu .current-menu-item a { background: transparent; color: #EC5D47; }
